<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-6">
	<h2>Photo comparison</h2>
      </div>
      <div class="col-6">
	<a href="{{ url_photo_preview }}" class="btn btn-secondary float-end">
	  Back to photo &nbsp;
	  <i class="bi bi-image"></i>
	</a>
      </div>
      <div class="col-4">
	<img v-bind:src="url_image" alt="thumbnail" class="img-thumbnail" id="photo_variant">
      </div>
      <div class="col-8">
	<div class="row gx-2 gy-2" v-if="variant_list">
	  <div class="col-12">
	    <h3>Current variants</h3>
	  </div>
	  <div class="col-2" v-for="item in variant_list">
	    <div class="row gy-2">
	      <div class="col-12">
		<a :href="item.url_variant_preview">
		  <img :src="item.url_image" alt="thumbnail" class="img-thumbnail">
		</a>
	      </div>
	      <div class="col-12">
		<a href="{{ url_photo_preview }}" class="btn btn-secondary btn-sm float-end">
		  <i class="bi bi-image"></i>
		</a>
		<button class="btn btn-danger btn-sm float-end me-2"
			v-if="!item.main"
			@click="remove_variant(item.variant_id)">
		  <i class="bi bi-dash-lg"></i>
		</button>
		<button class="btn btn-primary btn-sm float-end me-2"
			v-if="!item.main"
			@click="set_variant(item.variant_id)">
		  <i class="bi bi-bookmark-star"></i>
		</button>
	      </div>	      
	    </div>
	  </div>
	  <div class="col-12">
	    <h3>Similar photos</h3>
	  </div>
	  <div class="col-4" v-for="item in similar_list">
	    <div class="row gy-2">
	      <div class="col-12">
		<a :href="item.url_photo">
		  <img :src="item.url_image" alt="thumbnail" class="img-thumbnail">
		</a>
	      </div>
	      <div class="col-4">
		<span class="badge text-bg-secondary">ORB: [[ item.orb_score ]]</span>
	      </div>
	      <div class="col-8">
		<button class="btn btn-primary btn-sm float-end" @click="add_variant(item.photo_id)">
		  <i class="bi bi-plus-lg"></i>&nbsp;[[ item.num_variants ]]
		</button>
	      </div>
	      {#
	      <!--div class="col-4">SSIM: [[ item.ssim_score ]]</div>
	      <div class="col-4">MSE: [[ item.mse_score ]]</div-->
	      #}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<script>
const { createApp, ref, onMounted } = Vue

const app = createApp({
    setup() {
	const url_image = ref()
	const variant_list = ref()
	const similar_list = ref()
	onMounted(async () => {
	    await fetch("{{ api_list_variants }}")
		.then((response) => response.json())
		.then((result) => (
		    url_image.value = result.url_image,
		    variant_list.value = result.variant_list,
		    similar_list.value = result.similar_list
		))
		.then(() => {
		    setFixedPosition()
		});
	});
	function setFixedPosition() {
	    elem = document.getElementById('photo_variant')
	    var box = elem.getBoundingClientRect();
	    var body = document.body;
	    var docEl = document.documentElement;
	    var scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
	    var scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft;
	    var clientTop = docEl.clientTop || body.clientTop || 0;
	    var clientLeft = docEl.clientLeft || body.clientLeft || 0;
	    var top  = box.top +  scrollTop - clientTop;
	    var left = box.left + scrollLeft - clientLeft;
	    elem.classList.add('fixed-top');
	    elem.style.top = top+"px";
	    elem.style.left = left+"px";
	}
	function set_variant(variant_id) {
	    axios.post("{{ api_set_variant }}", {variant_id: variant_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	function remove_variant(variant_id) {
	    axios.post("{{ api_remove_variant }}", {variant_id: variant_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	function add_variant(photo_id) {   
	    axios.post("{{ api_add_variant }}", {photo_id: photo_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	return {url_image, variant_list, similar_list, add_variant, remove_variant, set_variant}
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
