<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-6">
	<h2>Photo comparison</h2>
      </div>
      <div class="col-6">
	<a href="{{ url_photo_preview }}" class="btn btn-secondary float-end">
	  Back to photo &nbsp;
	  <i class="bi bi-image"></i>
	</a>
      </div>
      <div class="col-4">
	{% include "comparison_left.html" %}
      </div>
      <div class="col-8">
	{% include "comparison_variants.html" %}
	{% include "comparison_similar.html" %}
      </div>
    </div>
  </div>
</div>

<script>
const { toRaw, reactive, createApp, ref, onMounted } = Vue

const app = createApp({
    setup() {
	const url_image = ref()
	const variant_list = ref()
	const similar_list = ref()
	const mse = reactive({threshold: 1000, checked: false})
	const ssim = reactive({threshold: 0.25, checked: false})
	const orb = reactive({threshold: 0.1, checked: false})
	const sortby = ref('orb')
	const comparison = ref()
	onMounted(async () => {
	    await fetch("{{ api_list_variants }}")
		.then((response) => response.json())
		.then((result) => (
		    url_image.value = result.url_image,
		    variant_list.value = result.variant_list,
		    similar_list.value = result.similar_list,
		    comparison.value = result.comparison
		))
		.then(() => {
		    sortby.value = comparison.value['sortby']
		    if (Object.hasOwn(comparison.value, 'mse')) {
			mse.threshold = comparison.value.mse
			mse.checked = true
		    }
		    if (Object.hasOwn(comparison.value, 'ssim')) {
			ssim.threshold = comparison.value.ssim
			ssim.checked = true
		    }
		    if (Object.hasOwn(comparison.value, 'orb')) {
			orb.threshold = comparison.value.orb
			orb.checked = true
		    }
		    //setFixedPosition()
		});
	});
	function setFixedPosition() {
	    elem = document.getElementById('photo_variant')
	    var box = elem.getBoundingClientRect();
	    var body = document.body;
	    var docEl = document.documentElement;
	    var scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
	    var scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft;
	    var clientTop = docEl.clientTop || body.clientTop || 0;
	    var clientLeft = docEl.clientLeft || body.clientLeft || 0;
	    var top  = box.top +  scrollTop - clientTop;
	    var left = box.left + scrollLeft - clientLeft;
	    elem.classList.add('fixed-top');
	    elem.style.top = top+"px";
	    elem.style.left = left+"px";
	}
	function set_filter() {
	    axios.post("{{ api_set_filter }}", {
		mse: toRaw(mse),
		ssim: toRaw(ssim),
		orb: toRaw(orb),
		sortby: sortby.value
	    })
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	function set_variant(variant_id) {
	    axios.post("{{ api_set_variant }}", {variant_id: variant_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	function remove_variant(variant_id) {
	    axios.post("{{ api_remove_variant }}", {variant_id: variant_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	function add_variant(photo_id) {   
	    axios.post("{{ api_add_variant }}", {photo_id: photo_id})
		.then(function (response) {
		    url_image.value = response.data.url_image,
		    variant_list.value = response.data.variant_list,
		    similar_list.value = response.data.similar_list
		})
		.catch(function (error) {
		    alert('API call error: '+error)
		})
	}
	return {
	    url_image, variant_list, similar_list, add_variant, remove_variant, set_variant,
	    orb, mse, ssim, set_filter, sortby
	}
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
