<div class="row" id="photo_variant gy-2 gx-2">
  <div class="col-12">
    <img v-bind:src="url_image" alt="thumbnail" class="img-thumbnail">
  </div>
  <div class="col-12">
    <h3>Filters</h3>
  </div>
  <div class="col-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="mse_threshold" id="mse_threshold" value="mse" v-model="sortby">
      <label class="form-check-label" for="mse_threshold">
	MSE < [[ mse.threshold ]]
      </label>
    </div> 
  </div>
  <div class="col-7">
    <input type="range"  min="0" max="5000" step="100" v-model="mse.threshold" class="form-range" id="input_mse_threshold" :disabled="sortby!='mse'">
  </div>
  <div class="col-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ssim_threshold" id="ssim_threshold" value="ssim" v-model="sortby">
      <label class="form-check-label" for="ssim_threshold">
	SSIM > [[ ssim.threshold ]]
      </label>
    </div> 
  </div>
  <div class="col-7">
    <input type="range"  min="0" max="1" step="0.01" v-model="ssim.threshold" class="form-range" id="input_ssim_threshold" :disabled="sortby!='ssim'">
  </div>
  <div class="col-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="orb_threshold" id="orb_threshold" value="orb" v-model="sortby">
      <label class="form-check-label" for="orb_threshold">
	ORB > [[ orb.threshold ]]
      </label>
    </div> 
  </div>
  <div class="col-7">
    <input type="range"  min="0" max="1" step="0.01" v-model="orb.threshold" class="form-range" id="input_orb_threshold" :disabled="sortby!='orb'">
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-primary" @click="set_filter()">Apply</button>
  </div>
</div>
