<div id="app">
  <div class="container">
    <div class="row">
      <h2>Home</h2>
      <dir class="col-md-2 fw-bold">PhoBo directory:</dir>
      <dir class="col-10">{{ dir_phobo }}</dir>
      <dir class="col-md-2 fw-bold">Import directory:</dir>
      <dir class="col-10">{{ dir_import }}</dir>
      <dir class="col-md-2 fw-bold">Photos directory:</dir>
      <dir class="col-10">{{ dir_photos }}</dir>
      <dir class="col-md-2 fw-bold">Photos database:</dir>
      <dir class="col-10">{{ file_database1 }}</dir>
      <dir class="col-md-2 fw-bold">Variants database:</dir>
      <dir class="col-10">{{ file_database2 }}</dir>
    </dir>
  </div>
</div>

<script>
//import MyComponent from './vue/test.vue'

const { createApp, ref } = Vue

const app = createApp({
  setup() {
      //const image = ref("{{ url_for('static', filename='figure.png') }}")
      //const count = ref(2)
      //const count2 = ref(3)
      //function rotate() {
      //    count.value++
      //}
      //return {
      //    image, count, count2, rotate
      //}
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
