<div id="app">
  <div class="container">
    <div class="row">
      <div class="col">
	<h2>List of photos</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-6 gx-3 gy-3">
      {% for photo in photo_list %}
      <div class="col">
        <a href="{{ photo.link }}">
          <img src="{{ photo.file_path }}" alt="thumbnail" class="img-thumbnail">
        </a>
	{% if photo.num_variants>1 %}
	<span class="badge rounded-pill text-bg-light">
	  +{{photo.num_variants}} variants
	</span>
	{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
const { createApp, ref } = Vue

const app = createApp({
  setup() {
      /*
      const image = ref("{{ url_for('static', filename='figure.png') }}")
      const count = ref(2)
      const count2 = ref(3)
      function rotate() {
        count.value++
      }
      return {
        image, count, count2, rotate
      }*/
      return {}
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
