<div class="row">
  <div class="col-12">
      <img :src="url_image" alt="thumbnail" class="img-thumbnail">
  </div>
  <div class="col-1 pt-2">
    <input type="checkbox" class="btn-check" id="img_mirror" autocomplete="off" v-model="mirror">
    <label class="btn btn-outline-primary btn-sm me-2" for="img_mirror" @click="img_mirror('img_mirror')"><i class="bi bi-symmetry-vertical"></i></label>
  </div>
  <div class="col-5 pt-2">
    <div class="input-group input-group-sm mb-3">
      <button class="btn btn-primary btn-sm" @click="image_rotate(-90)"><i class="bi bi-arrow-counterclockwise"></i></button>
      <input type="text" class="form-control text-center" :value="rotation" readonly>
      <button class="btn btn-primary btn-sm" @click="image_rotate(90)"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
  </div>
</div>
