<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Photo #{{ doc_id }}</h2>
      </div>
      <div class="col-6">
        <a href="{{ url_overview }}" class="btn btn-secondary float-end"><i class="bi bi-microsoft"></i></a>
        {% if url_next_photo %}
        <a href="{{ url_next_photo }}" class="btn btn-secondary float-end me-2"><i class="bi bi-arrow-right-square-fill"></i></a>
        {% endif %}
        {% if url_previous_photo %}
        <a href="{{ url_previous_photo }}" class="btn btn-secondary float-end me-2"><i class="bi bi-arrow-left-square-fill"></i></a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	{% include 'photo_image.html' %}
	{% include 'photo_variants.html' %}
      </div>
      <div class="col-lg-4">
	{% include 'photo_info.html' %}
	{% include 'photo_ratings.html' %}
      </div>
      <div class="col-lg-4">
	{% include 'photo_dates.html' %}
      </div>
    </div>
  </div>
</div>

<script>
  const { createApp, ref, onMounted, watch } = Vue

const app = createApp({
  setup() {
      const variant_list = ref();
      const url_image = ref();
      const datetime = ref();
      const rotation = ref();
      const mirror = ref();
      const ratings_overall = ref();
      const ratings_aesthetics = ref();
      const ratings_emotions = ref();
      const ratings_rarity = ref();
      const ratings_change = ref(false);
      onMounted(async () => {
      await fetch("{{ api_photo_data }}")
        .then((response) => response.json())
        .then((result) => (variant_list.value = result.variants)); 
      });
      onMounted(async () => {
      await fetch("{{ api_variant_get }}")
        .then((response) => response.json())
        .then((result) => (
            url_image.value = result.url_image, 
            datetime.value = result.datetime,
            rotation.value = result.rotation+" deg",
            mirror.value = result.mirror,
	    ratings_overall.value = result.ratings_overall,
	    ratings_aesthetics.value = result.ratings_aesthetics,
	    ratings_emotions.value = result.ratings_emotions,
	    ratings_rarity.value = result.ratings_rarity
        ))
	.then(() => {
	    watch([
		ratings_overall,
		ratings_aesthetics,
		ratings_emotions,
		ratings_rarity,
	    ], ([newA, newB, newC, newD], [prevA, prevB, prevC, prevD]) => {
		ratings_change.value = true
	    });
	}); 
      });
      function set_datetime(input_id) {
        value = document.getElementById(input_id).value
        if (value=="") {
          alert('Date time cannot be empty!')
        } else {
          axios.post("{{ api_variant_set }}", {datetime: value})
          .then(function (response) {
            datetime.value = response.data.datetime
          })
          .catch(function (error) {
            alert('API call error: '+error)
          })
        }
      }
      function image_rotate(angle) {
        axios.post("{{ api_variant_set }}", {rotation: angle})
        .then(function (response) {
          ts = new Date().getTime()
          url_image.value = response.data.url_image+"?"+ts
          rotation.value = response.data.rotation+" deg"
        })
        .catch(function (error) {
          alert('API call error: '+error)
        })
      }
      function img_mirror(input_id) {
        checked = document.getElementById(input_id).checked
        console.log(input_id, checked)
        axios.post("{{ api_variant_set }}", {mirror: !checked})
        .then(function (response) {
          ts = new Date().getTime()
          url_image.value = response.data.url_image+"?"+ts
        })
        .catch(function (error) {
          alert('API call error: '+error)
        })
      }
      function to_clipboard(text) {
        navigator.clipboard.writeText(text);
      }
      function update_ratings() {	  
          axios.post("{{ api_variant_set }}", {
              rating_overall: ratings_overall.value,
              rating_aesthetics: ratings_aesthetics.value,
              rating_emotions: ratings_emotions.value,
              rating_rarity: ratings_rarity.value
	  })
          .then(function (response) {
	    ratings_change.value = false
          })
          .catch(function (error) {
            alert('API call error: '+error)
          })
      }
      return {
          variant_list, url_image, datetime, set_datetime,
          to_clipboard, image_rotate, rotation, img_mirror,
          mirror, ratings_change,
	  ratings_overall, ratings_aesthetics, ratings_rarity, ratings_emotions,
	  update_ratings
      }
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
