<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Counts</h2>
        <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-md-2">
              <button class='btn btn-secondary btn-sm' @click="refresh_counts">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
</svg>
              </button>
            </th>
            <th scope="col" class="align-middle col-sm-2">Count</th>
            <th scope="col" class="align-middle">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="align-middle">Registered</th>
            <td class="align-middle">[[ registered_photos ]]</td>
            <td>
	      <button class='btn btn-danger btn-sm me-2' v-if="registered_photos" @click="remove_item()"><i class="bi bi-trash"></i></button>
	    </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle">Unregistered</th>
            <td class="align-middle">[[ unregistered_photos ]]</td>
            <td>
              <button class='btn btn-primary btn-sm me-2' v-if="unregistered_photos" @click="add_item()"><i class="bi bi-plus-lg"></i></button>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <h2>Photo list</h2>
        <table class="table" v-if="preview_data.length">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-1">Format</th>
              <th>File name</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in preview_data">
              <td>[[ item.item_id ]]</td>
              <td>[[ item.format ]]</td>
              <td>
                <span class="d-inline-block text-truncate align-middle" style="max-width: 400px;" :title="item.name">
		  <a :href="item.url_image">[[ item.name ]]</a>
		</span>
	      </td>
              <td>
              <button class='btn btn-primary btn-sm me-2' v-if="!item.registered" @click="add_item(item.item_id)"><i class="bi bi-plus-lg"></i></button>
              <button class='btn btn-danger btn-sm me-2' v-if="item.registered" @click="remove_item(item.variant_id)"><i class="bi bi-trash"></i></button>
              <a :href="item.url_photo" class='btn btn-secondary btn-sm me-2' v-if="item.registered"><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script>
  const { createApp, ref, onMounted } = Vue
const app = createApp({
  setup() {
      const registered_photos = ref({{ counts['registered'] }})
      const unregistered_photos = ref({{ counts['unregistered'] }})
      const preview_url = ref("{{ url_for('SetupRouter.show_files') }}")
      const preview_title = ref('')
      const preview_data = ref([])
      onMounted(async () => {
      await fetch(preview_url.value)
        .then((response) => response.json())
        .then((result) => (
            preview_data.value = result.data
	)); 
      });
      function action(url, doc_id=null) {
        axios.get(url, {params: {doc_id: doc_id}})
        .then(function (response) {
          registered_photos.value = response.data.registered
          unregistered_photos.value = response.data.unregistered
          preview()
        })
        .catch(function (error) {
          alert('API call error: '+ error)
        })
      }
      function remove_item(variant_id=null) {
        action("{{ url_for('SetupRouter.remove_item') }}", variant_id)
      }
      function add_item(item_id=null) {
        action("{{ url_for('SetupRouter.add_item') }}", item_id)
      }
      function refresh_counts() {
        action("{{ url_for('SetupRouter.get_counts') }}")
      }
      function preview() {
        axios.get(preview_url.value)
        .then(function (response) {
          preview_data.value = response.data.data
        })
        .catch(function (error) {
          alert('API call error: '+error)
        })
      }
      return {
        registered_photos, unregistered_photos, 
        remove_item, 
        add_item, refresh_counts,
        preview_title, preview_data
      }
  }
})
app.config.compilerOptions.delimiters = ['[[',']]']
app.mount('#app')
</script>
